
/* Floats */
/* ==================================================== */


%float-left {
	float: left;
}


%float-right {
	float: right;
}


%float-none {
	float: none;
}


// Usage:
// div { @extend %float-none; }
