
/* Variables */
/* ==================================================== */


/* Ease */
$ease: all 0.300s ease;



/* Space */
$space-large: 1rem * 4;

$space-mid: 1rem * 2;

$space-small: 1rem * 1.5;

$space-tiny: 1rem * 1;

$space-itty: 1rem * 0.5;


$root-size: 16px;
