
/* Colours */
/* ==================================================== */


$black: #000000;

$white: #ffffff;

$navy: #003580;



$sky: #0896ff;



$yellow: #feba02;


$green: #55af32; //

$green1: #3e4853;

$green2: #7bbd65; //

$green3: #bec8d2;

$green4: #cee5c3; //

$green5: #deedd8;



$red: #e52923; //

$red1: #9d2124;

$red2: #e96b6b; //

$red3: #bec8d2;

$red4: #f5bebf; //

$red5: #f2f4f6;



$grey1: #3e4853;

$grey2: #a3b1bf;

$grey3: #bec8d2;

$grey4: #e5e9ed;

$grey5: #f2f4f6;







