@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
/* Read manifests */
/* ==================================================== */
/* Import utilities */
/* ==================================================== */
/* Variables */
/* ==================================================== */
/* Ease */
/* Space */
/* Flex-box container */
/* ==================================================== */
/* Flexbox */
/* Flex Direction */
/* Flexbox */
.event-content, .results-box, .hotel, .hotel-details {
  -js-display: -webkit-box;
  -js-display: -ms-flexbox;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

/* Flex-box item */
/* ==================================================== */
/* Flex Order */
/* Flex */
.event-accommodation, .event-meta, .create-event-inputs, .create-event-map, .result, .hotel-image, .hotel-details, .accommodation, .pricing, .admin-box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }

/* Floats */
/* ==================================================== */
.post div:first-of-type p:first-of-type:first-letter, .button-left {
  float: left; }

.button-right {
  float: right; }

.button-center, .button-left, .button-right {
  float: none; }

/* Outline */
/* ==================================================== */
/* Border */
/* ==================================================== */
/*  Border-radius */
/* ==================================================== */
/* Links */
/* ==================================================== */
/* List style */
/* ==================================================== */
/* None */
ul, ol {
  list-style: none; }

/* Initial */
/* Box-shadow */
/* ==================================================== */
/* Border */
/* ==================================================== */
/* Font styles */
/* ==================================================== */
/* Normal */
/* Italic */
/* Font weights */
/* ==================================================== */
/* Black */
/* Bold */
/* Medium */
/* Regular */
/* Light */
/* Thin */
/* Text alignment */
/* ==================================================== */
/* Left */
.button-solid, .button-solid:hover, .button-solid:focus, .button-solid:active, .button-outline, .button-outline:hover, .button-outline:focus, .button-outline:active, .button.button-book {
  text-align: left; }

/* Right */
/* Center */
.post div:first-of-type p:first-of-type:first-letter, .button-solid, .button-solid:hover, .button-solid:focus, .button-solid:active, .button-outline, .button-outline:hover, .button-outline:focus, .button-outline:active, .button.button-book {
  text-align: center; }

/* Tex-indent */
/* ==================================================== */
/* Text shadow */
/* ==================================================== */
/* Font cases */
/* ==================================================== */
/* Lowercase */
/* Capitalized */
/* Uppercase */
.button-solid, .button-solid:hover, .button-solid:focus, .button-solid:active, .button-outline, .button-outline:hover, .button-outline:focus, .button-outline:active, .button.button-book {
  text-transform: upper; }

/* Unset */
/* None */
/* Truncation */
/* ==================================================== */
/* Letter spacing */
/* ==================================================== */
/* Word spacing */
/* ==================================================== */
/*  Opacity */
/* ==================================================== */
/*  Animation */
/* ==================================================== */
/* Z-index */
/* ==================================================== */
/* Import settings */
/* ==================================================== */
/*	Meyer Reset */
/* ==================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
  display: block; }

a img {
  border: 0; }

html.no-js {
  margin-top: 0px !important; }

/*  Box-sizing */
/* ==================================================== */
/* Box Sizing */
/* Clearfix */
/* ==================================================== */
.hero-text, .container, .page-section, form, fieldset, fieldset.radio ul {
  *zoom: 1; }
  .hero-text:before, .container:before, .page-section:before, form:before, fieldset:before, fieldset.radio ul:before, .hero-text:after, .container:after, .page-section:after, form:after, fieldset:after, fieldset.radio ul:after {
    content: "";
    display: table; }
  .hero-text:after, .container:after, .page-section:after, form:after, fieldset:after, fieldset.radio ul:after {
    clear: both; }

/*  Media-queries */
/* ==================================================== */
/* Typefaces */
/* ==================================================== */
/* Copy font */
/* Font size */
/* ==================================================== */
/* Line-height */
/* ==================================================== */
/* Colours */
/* ==================================================== */
/*  Structure */
/* ==================================================== */
/* Declare charset */
/* Box sizing */
*, *:before, *:after {
  box-sizing: border-box; }

/* Base HTML */
html {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.2;
  color: #3e4853; }

/* Base body */
/* Wrapper */
/* ==================================================== */
/* Container */
/* ==================================================== */
.hero-text, .container {
  max-width: calc(100% - (1rem * 4));
  margin: auto; }
  @media only screen and (min-width: 641px) {
    .hero-text, .container {
      max-width: calc(100% - (1rem * 8)); } }
  @media only screen and (min-width: 1024px) {
    .hero-text, .container {
      max-width: calc(100% - (1rem * 12)); } }
  @media only screen and (min-width: 1367px) {
    .hero-text, .container {
      max-width: calc(100% - (1rem * 16)); } }

/*  Flex-box grid */
/* ==================================================== */
.page-section {
  width: auto;
  margin: 0 auto;
  height: auto; }

/* Import components */
/* ==================================================== */
/* Headings */
/* ==================================================== */
h1, h2, h3, h4, h5 {
  clear: both;
  display: inline-block;
  line-height: 1.2;
  color: #3e4853; }

h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 700;
  font-size: 3.5rem;
  color: #003580; }
  .hero h1 {
    display: block;
    max-width: 728px;
    margin: 1rem 0 1.5rem;
    font-size: 52px;
    color: #feba02; }

h2 {
  margin: 0 0 10px;
  font-size: 23px;
  color: #003580; }

h3 {
  font-size: 20px;
  font-weight: 700; }

h4 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 400;
  font-size: 1.45rem;
  letter-spacing: 1px;
  color: #ffffff; }
  h4 span {
    background: #f00;
    content: '.';
    padding: 1px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px; }

h5 {
  font-size: 1.125rem;
  color: #7c90a6; }

/* Paragraphs */
/* ==================================================== */
p {
  margin-top: 0.625em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 400;
  color: #003580; }
  .page-intro-large p {
    margin: 0;
    font-size: 1.25em;
    line-height: 1.5em; }
  .group p {
    margin: 0; }
  p.testimonial-bubble {
    font-size: 1.25rem;
    line-height: 1.5em; }
  p.testimonial-role {
    margin-bottom: 0;
    font-size: 0.85rem; }

/* Dropcaps */
/* ==================================================== */
/* Small */
/* ==================================================== */
small {
  display: block; }

/* Links */
/* ==================================================== */
a {
  border-width: 0;
  border-style: solid;
  border-color: transparant;
  outline-width: 0;
  outline-style: solid;
  outline-color: transparant;
  display: inline-block;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #000000; }
    p a:hover, p a:focus, p a:active {
      color: #000000;
      background-image: url('../img/dots.svg');
      background-position: left bottom;
      background-repeat: repeat-x; }
  .hero a {
    text-shadow: 2px 6px 24px rgba(255, 89, 45, 0.51);
    color: #ffffff;
    margin-right: 2rem;
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 1px;
    line-height: 1;
    vertical-align: middle; }

.hotel-details a {
  margin-top: -3px;
  color: #0896ff; }
  .hotel-details a:hover, .hotel-details a:focus, .hotel-details a:active {
    color: #feba02; }

.hotel-details a {
  margin-top: -3px;
  color: #0896ff; }
  .hotel-details a:hover, .hotel-details a:focus, .hotel-details a:active {
    color: #feba02; }

/* Lists */
/* ==================================================== */
/* Quotes */
/* ==================================================== */
/* Import components */
/* ==================================================== */
/*  Button style */
/* ==================================================== */
/*  Button size */
/* ==================================================== */
/*  Button state */
/* ==================================================== */
/*  Buttons */
/* ==================================================== */
.button-solid {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 700;
  line-height: 1;
  border-radius: 0;
  background-clip: padding-box;
  box-shadow: 0px 0px 0px 0px transparent;
  border-width: 0;
  border-style: solid;
  border-color: transparant;
  outline-width: 0;
  outline-style: solid;
  outline-color: transparant;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* Solid */
  color: #ffffff;
  background: #003580;
  border-width: 3px;
  border-style: solid;
  border-color: #003580; }
  .button-solid:hover, .button-solid:focus, .button-solid:active {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    /* Bold */
    font-weight: 700;
    line-height: 1;
    border-radius: 0;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 0px transparent;
    border-width: 0;
    border-style: solid;
    border-color: transparant;
    outline-width: 0;
    outline-style: solid;
    outline-color: transparant;
    display: inline-block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    /* Solid */
    color: #003580;
    background: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #003580; }
.button-outline {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 700;
  line-height: 1;
  border-radius: 0;
  background-clip: padding-box;
  box-shadow: 0px 0px 0px 0px transparent;
  border-width: 0;
  border-style: solid;
  border-color: transparant;
  outline-width: 0;
  outline-style: solid;
  outline-color: transparant;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* Solid */
  color: #003580;
  background: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: #003580; }
  .button-outline:hover, .button-outline:focus, .button-outline:active {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    /* Bold */
    font-weight: 700;
    line-height: 1;
    border-radius: 0;
    background-clip: padding-box;
    box-shadow: 0px 0px 0px 0px transparent;
    border-width: 0;
    border-style: solid;
    border-color: transparant;
    outline-width: 0;
    outline-style: solid;
    outline-color: transparant;
    display: inline-block;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    /* Solid */
    color: #ffffff;
    background: #003580;
    border-width: 3px;
    border-style: solid;
    border-color: #003580; }
.button-large {
  /* Large */
  padding: 16px 24px;
  font-size: 1.5rem;
  font-weight: normal; }
.button-small {
  /* Large */
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: normal; }
.button-left:not(:first-of-type) {
  margin-left: calc(1rem * 2); }
.button-right:not(:first-of-type) {
  margin-right: calc(1rem * 2); }
.button-below {
  margin-top: 1rem; }
.page-section-ready .button {
  margin-top: calc(1rem * 2); }
@media only screen and (min-width: 641px) {
  .button-left:not(:first-of-type) {
    margin-left: calc(1rem * 2); }
  .button-right:not(:first-of-type) {
    margin-right: calc(1rem * 2); }
  .button-below {
    margin-top: 1.5rem; } }
@media only screen and (min-width: 1024px) {
  .button-left:not(:first-of-type) {
    margin-left: calc(1rem * 2); }
  .button-right:not(:first-of-type) {
    margin-right: calc(1rem * 2); }
  .button-below {
    margin-top: 1.5rem; } }

.button.button-book {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 700;
  line-height: 1;
  border-radius: 0;
  background-clip: padding-box;
  box-shadow: 0px 0px 0px 0px transparent;
  border-width: 0;
  border-style: solid;
  border-color: transparant;
  outline-width: 0;
  outline-style: solid;
  outline-color: transparant;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  /* Solid */
  color: #ffffff;
  background: #003580;
  border-width: 3px;
  border-style: solid;
  border-color: #003580;
  /* Large */
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: normal;
  display: inline-block;
  position: relative;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  padding: 5px 10px;
  margin: 0;
  background-color: #0896ff;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 3px #aaa; }
  .button.button-book:hover {
    color: #ffffff;
    background: #003580; }
  .result .button.button-book {
    display: block;
    border: 0 none;
    box-shadow: none; }

.button.button-book.select {
  display: block;
  background-color: #7bbd65; }

.hotel .button.button-book.unselect {
  display: none;
  background-color: #e96b6b; }

/*  Icons */
/* ==================================================== */
@font-face {
  font-family: "booking-iconset";
  src: url("../fonts/booking-iconset.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

[class^="bicon-"], [class*=" bicon-"], [class*="\a bicon-"] {
  font-family: 'booking-iconset';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.bicon-star:before {
  content: "\b010"; }

.bicon-trashcan:before {
  content: "\b172"; }

.bicon-close:before {
  content: "\b195"; }

.bicon-sidemenu:before {
  content: "\b0fa"; }

.bicon-marker:before {
  content: "\b023"; }

/*  Header */
/* ==================================================== */
.page-header {
  position: fixed;
  width: 100%;
  z-index: 9; }

.header-menu {
  -js-display: -webkit-box;
  -js-display: -ms-flexbox;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  text-align: center; }
  @media only screen and (min-width: 1024px) {
    .header-menu {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

.header-menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto 0;
          flex: 1 auto 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #feba02;
  padding: 1rem;
  text-decoration: none;
  background: transparent; }
  @media only screen and (min-width: 1024px) {
    .header-menu-item {
      text-align: right; } }

.header-menu-item.header-menu-item-logo {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  /* Tiny spacing */
  letter-spacing: calc(16px / 0);
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  max-width: 148px;
  padding: 0;
  text-decoration: none;
  color: #feba02; }
  .header-menu-item.header-menu-item-logo:visited, .header-menu-item.header-menu-item-logo:hover, .header-menu-item.header-menu-item-logo:focus, .header-menu-item.header-menu-item-logo:active {
    color: #feba02; }
  .header-menu-item.header-menu-item-logo img {
    max-width: 140px; }
  .modal .header-menu-item.header-menu-item-logo {
    font-size: 36px;
    font-size: 2.25rem;
    float: none;
    margin-bottom: 1.5rem;
    padding: 0.35rem 1.5rem; }
  @media only screen and (min-width: 1024px) {
    .header-menu-item.header-menu-item-logo {
      margin-right: auto;
      text-align: left; } }

.header-menu-item.header-menu-item-toggle {
  display: none; }

/*  Footer */
/* ==================================================== */
footer {
  position: relative;
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat; }

.footer-box {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: calc(1rem * 4) 0; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch; }

.footer-menu-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto 0;
          flex: 1 auto 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left; }

.footer-menu-box:first-of-type {
  -ms-flex-item-align: center;
      align-self: center; }

.footer-menu-item {
  text-align: center; }

.footer-menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 auto 0;
          flex: 1 auto 0;
  padding: 0.35rem 0;
  color: #ffffff; }

.footer-menu-item img {
  max-width: 196px;
  top: -16px;
  position: relative; }

@media only screen and (min-width: 1024px) {
  .footer-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .footer-menu-box {
    width: 30%; }
    .footer-menu-box:not(:first-of-type) {
      width: calc(70% / 4); }
  .footer-menu-item {
    text-align: left; } }

/*  Aside */
/* ==================================================== */
/*  Forms */
/* ==================================================== */
form {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  /* Bold */
  font-weight: 400;
  position: relative;
  width: 100%;
  display: block;
  background: transparent; }

fieldset {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
  background: transparent;
  border: 0 none; }
  fieldset:not(:first-child) {
    margin-top: 1rem; }

label {
  display: block;
  margin: 0 0 5px;
  padding: 0;
  line-height: 1.4;
  color: #355e97;
  font-size: 12px;
  font-weight: 300;
  font-weight: 300;
  letter-spacing: .5px; }
  label.radio-check {
    display: inline;
    font-weight: normal; }

input[type="text"], input[type="email"], input[type="password"], textarea {
  /* Tiny spacing */
  letter-spacing: calc(16px / 16);
  display: block;
  width: 100%;
  max-width: 828px;
  padding: 0.85rem 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  border: 2px solid #ffffff;
  color: #ffffff;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  border: 1px solid #a3b1bf;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .3px;
  color: #003580;
  background: #ffffff; }
  input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="password"]:hover, input[type="password"]:focus, textarea:hover, textarea:focus {
    color: #003580; }

textarea {
  height: 10rem; }

select {
  min-width: 25%;
  width: 100%;
  margin: 0; }

option {
  padding: 0.25rem; }

fieldset.radio ul {
  margin-top: 0.25rem;
  list-style-type: none; }

fieldset.radio ul li {
  float: left;
  margin: 0 2rem 0.25rem 0; }

fieldset.radio ul li:last-child {
  margin: 0; }

p.form-help {
  display: inline-block;
  margin: 0.125rem 0 0.25rem;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #999; }

p.form-data {
  display: inline-block;
  margin: 0.125rem 0 0.75rem;
  font-size: 18px;
  font-size: 1.125rem; }

input[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-width: 0;
  border-style: solid;
  border-color: transparant;
  outline-width: 0;
  outline-style: solid;
  outline-color: transparant;
  cursor: pointer; }

/*  Media */
/* ==================================================== */
figcaption {
  display: block; }

img {
  width: 100%;
  height: auto; }

/* Embeds */
/* ==================================================== */
/*  Modal */
/* ==================================================== */
/*  Hero */
/* ==================================================== */
.hero {
  position: relative;
  height: 50vh;
  background-image: url("../img/event-cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: RGBA(8, 150, 255, 1); }

.hero-box {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: calc(1rem * 4) 0;
  background: rgba(0, 53, 128, 0.65); }

.hero-text {
  position: relative;
  height: 100%; }

.hero-text-box {
  position: absolute;
  bottom: calc(1rem * 3); }

/*  Page section */
/* ==================================================== */
.page-section {
  clear: both;
  margin-top: calc(1rem * 4); }

/*  event content */
/* ==================================================== */
.event-content {
  clear: both; }

.event-accommodation {
  max-width: 70.5%;
  margin-right: 1.5%; }

.event-meta {
  margin-top: 10px;
  max-width: 28%;
  padding: 20px;
  background: #f2f4f6;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e9ed;
  border-radius: 3px;
  background-clip: padding-box;
  background: #ecf7fe;
  border-color: #e2edf9; }

.create-event-inputs {
  max-width: 40%;
  margin-right: 20px;
  padding: 20px;
  background: #f2f4f6;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e9ed;
  border-radius: 3px;
  background-clip: padding-box;
  background: #ecf7fe;
  border-color: #e2edf9; }

.create-event-map {
  max-width: calc(60% - 20px); }

.results {
  margin-top: 24px; }

.results-box {
  clear: both; }

.result {
  margin-top: 0; }
  .result:not(:first-child) {
    margin-top: 0rem; }

/*  hotel */
/* ==================================================== */
.hotel {
  clear: both;
  border-width: 1px;
  border-style: solid;
  border-color: #bec8d2;
  border-radius: 3px;
  background-clip: padding-box;
  margin: 10px 0;
  padding: 10px; }
  .hotel:hover {
    background: #f2f4f6; }

.hotel-image {
  max-width: 200px;
  margin-right: 10px;
  text-align: left; }
  .hotel-image img {
    width: 100%; }

.hotel-details {
  max-width: calc(100% - 210px);
  text-align: left; }

.hotel-details {
  clear: both; }

.accommodation {
  max-width: 62.5%;
  margin-right: 10px; }

.pricing {
  max-width: calc(20% - 10px);
  text-align: left; }
  .result .pricing p {
    display: none; }

.admin-box {
  max-width: 17.5%;
  text-align: right; }

.admin-box span {
  background: transparent;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #bec8d2;
  display: block;
  float: right;
  padding: 0px 0 0;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer; }
  .admin-box span:hover {
    color: #003580; }

.selected .admin-box span.bicon-star {
  display: none; }

.selection-options .admin-box span.bicon-close, .selection-options .admin-box span.bicon-sidemenu {
  display: none; }

/* Import Pages */
/* ==================================================== */
/*  Basic layout */
/* ==================================================== */
/*  Article */
/* ==================================================== */
/*  Section */
/* ==================================================== */
/*  Page: Offering */
/* ==================================================== */
/*  Page: Offering */
/* ==================================================== */
/*  Page: Product */
/* ==================================================== */
.price-total, .price-nightly {
  margin: 1rem 0;
  font-size: 20px;
  line-height: 1.2em;
  color: #003580;
  font-weight: 400; }
  .price-total span, .price-nightly span {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    /* Bold */
    font-weight: 400;
    display: block;
    font-size: 0.625em;
    line-height: 1;
    text-transform: uppercase;
    color: #a3b1bf; }
  .result .price-total, .result .price-nightly {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 400;
    color: #003580;
    display: inline-block;
    padding: 5px 10px;
    background: #e9e9e9;
    border-radius: 2px; }

.invisible_spoken {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  white-space: normal;
  overflow: hidden; }

#ajaxsrwrap .sr_item .icon_deal_smart, .sr_compset_badges .icon_deal_smart, .sr_compset_info .icon_deal_smart {
  vertical-align: top;
  position: relative;
  top: 1px; }

#ajaxsrwrap .sr_item .stars, .sr_compset_badges .stars {
  margin-top: 0;
  position: relative;
  top: 5px;
  vertical-align: top; }

.b-sprite-3 i.b-sprite, .b-sprite-3 .footer_social_email {
  display: inline-block; }

.b-sprite-3 .stars {
  margin-top: 5px; }

.b-sprite.ratings_stars_4 {
  background-position: -203px -113px;
  width: 52px;
  height: 12px; }

.b-sprite.icon_deal_smart {
  background-position: -632px -1px;
  width: 21px;
  height: 21px;
  position: relative;
  top: 4px; }

.b-sprite {
  background-repeat: no-repeat !important;
  display: inline-block; }

.divider {
  margin: 24px 0;
  border-top: 1px solid #b3c2d8; }

/*  Home */
/* ==================================================== */
/* External styles */
/* ==================================================== */
/* Import hacks */
/* ==================================================== */
/* Polyfils */
/* Magic numbers */
/* Vendor overrides */
/* Browser */
/* Import last possible files */
/* ==================================================== */
/* Print Styles */
/* ==================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    -webkit-filter: none !important;
            filter: none !important;
    -ms-filter: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }


/*# sourceMappingURL=../maps/main.css.map */
