
/* Headings */
/* ==================================================== */


h1,
h2,
h3,
h4,
h5 {
	clear: both;
	display: inline-block;
	// margin-bottom: $space-mid;
	line-height: 1.2;
	// font-weight: 700;
	color: $grey1;
}

h1,
h2 {
	// letter-spacing: 1px;
}


h2,
h3,
h4,
h5 {
	// padding: 0 16px 0 2px;
}


h4,
h5 {
	// margin-bottom: $space-tiny;
}


h1 {
	@include copy(bold);
	font-size: 3.5rem;
	color: $navy;

	.hero & {
	    // @include text-shadow(2px 6px 24px rgba(255, 89, 45, 0.51));
	    display: block;
	    max-width: 728px;
	    margin: $space-tiny 0 $space-small;
	    font-size: 52px;
	    // line-height: 1.1;
	    color: $yellow;
	}
}


h2 {
	margin: 0 0 10px;
	font-size: 23px;
	color: $navy;
}


h3 {
	font-size: 20px;
	font-weight: 700;
}


h4 {
	@include copy(regular);
	font-size: 1.45rem;
	letter-spacing: 1px;
	color: $white;

	span {
		background: #f00;
		content: '.';
		padding: 1px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		display: inline-block;
		vertical-align: top;
		margin-right: 6px;
	}
}


h5 {
	// @include copy(regular);
	font-size: 1.125rem;
	color: #7c90a6;
}

